
<h1> Welcome, <%= @user.username %>! </h1>
<h2> Here are your reviews </h2>
<% @user.reviews.each do |review| %>
  <%= review.content %>
  <br>
<% end %>
<br>
<%= link_to "Have you eaten anywhere recently? Click here to review it", new_review_path %>
