
<h1> Here are the top rated RESTaurants </h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li> <%=restaurant.rating %>: <%= link_to restaurant.name, restaurant_path(restaurant) %>  </li>
    <br>
  <% end %>
</ul>
