
<h1> Welcome to RESTaurants! </h1>
<ul>
<% @reviews.each do |review| %>
  <li> Restaurant: <%= review.restaurant %> </li>
  <li> Rating: <%= review.rating %> </li>
  <li> Review: <%= review.content %> </li>
<% end %>
</ul>
