<% if @review.errors.any? %>
  <div id="error_explanation">
    <h3>
      You did not submit a full review. Please try again.
    </h3>

    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li class="red-text"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: "reviews/form", locals: {review: @review} %> 
